.option {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include media-lg-desktop-and-up {
      flex-direction: row;
      padding-top: 44px;
      padding-bottom: 45px;
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    box-shadow: 0px 7px 34px rgba(35, 57, 55, 0.25);
    border-radius: 25px;
    padding: 45px 54px 47px 37px;

    @include media-lg-desktop-and-up {
      max-width: 340px;
    }
  }

  &__sub-title {
    font-family: "Josefin Sans";
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__text {
    font-family: "Alegreya Sans";
    font-size: 19px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 36px;
  }
  &__button {
    margin: 0 auto;
  }
}
