.navigation {
  @include nav;

  &__list {
    align-items: center;
    gap: 75px;
    @include media-lg-desktop-and-up {
      display: flex;
    }
  }

  &__button {
    padding: 14px 24px 13px 26px;
  }
}
