@mixin fonts-title-h1 {
  font-family: Josefin Sans;
  font-weight: 700;
  font-style: normal;
  font-size: 54px;
  line-height: 54px;

  @include media-lg-desktop-and-up {
    font-size: 63px;
    line-height: 63px;
  }
}

@mixin citation {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;

  @include media-lg-desktop-and-up {
    font-size: 28px;
    line-height: 53px;
  }
}

@mixin button-main {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @include media-tablet-and-up {
    font-family: "George Round";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}

@mixin nav {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

@mixin text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
}

@mixin sub-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
}

@mixin card-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

@mixin card-text {
  font-family: "Alegreya Sans";
  font-size: 19px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 36px;
}
